.sampleData { 
    margin: auto;
    width: 80%;
}

h4 {
    margin: auto;
    width: 80%;
    color: #143963;
}

#date-picker-example{
    margin: auto;
    width: 80%;
}

.sampleData .sendButton button{
    margin: auto;
    width: 100%;
    border: 2px solid black;
}

.form-label {
    color: #143963;
}

