.sampleData { 
    margin: auto;
    width: 80%;
}

h3{
    margin: auto;
    width: 80%;
    color: #143963;
    text-align: center;
}

h5 {
    margin: auto;
    width: 80%;
    color: #143963;
    text-align: center;
}

#date-picker-example{
    margin: auto;
    width: 80%;
}

.sampleData .container-fluid .row .col-12 button{
    margin: auto;
    width: 30%;
    background-color: #143963;
    border: 1px solid #143963;
    color: #f16b20;
}

.form-label {
    color: #143963;
}

.sampleData ::placeholder {
    color: #f16d2086;
}

.sampleData input[type=text] {
    color: #f16b20;
}

.sampleData input[type=email] {
    color: #f16b20;
}

.sampleData .form-select {
    color: #f16d2086;
}

.sampleData input[type=date] {
    color: #f16d2086;
}