.signature {
    margin: auto;
    width: 80%;
    border-color: black;
}

.signature-pad {
    margin: auto;
    width: 80%;
    border: 2px solid black;
}

.signature .container-fluid .row .col-6 button {
    margin: auto;
    width: 100%;
    border: 2px solid black;
}
