<h5 class="text-center">Firma del Médico que somete la muestra</h5>
<div class="signature">
    <div class="signature-pad">
        <div class="signature-pad--body">
            <canvas #sPad width="600" height="300" style="touch-action: none;"></canvas>
        </div>
    </div>
   
    
    <section class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-block btn-light " (click)="clear()">Limpiar</button>
                <!--<button class="btn btn-block btn-warning" (click)="undo()">Undo</button>
                <button class="btn btn-block btn-info" (click)="changeColor()">Change Color</button>-->
            </div>
            <!--<div class="col-6">
                <button class="btn btn-block btn-dark" (click)="savePNG()">PNG</button>
                <button class="btn btn-block btn-primary" (click)="saveJPG()">JPG</button>
                <button class="btn btn-block btn-secondary" (click)="saveSVG()">SVG</button>
            </div>-->
        </div>
    </section>
</div>