.signature {
    margin: auto;
    width: 80%;
    border-color: black;
}

.signature-pad {
    margin: auto;
    width: 80%;
    border: 1px solid #143963;
    border-radius: 5px;
}

.signature .container-fluid .row .col-12 button {
    margin: auto;
    margin-top: 5px;
    width: 20%;
    border: 2px solid #f16b20;
    background-color: #f16b20;
    color: #143963;
}
